* {
    font-family: Helvetica, Arial, sans-serif;
  }

  #back {
    width: 5%;
    color: white;
    font-family: 'Ruda', sans-serif;
    font-size: 1em;
    text-align: center;
  }


  #back a {
    background-color: inherit;
    color: #fff;
    background: rgb(83, 85, 85);
    text-decoration: none;
    position: relative;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 15px;
    padding: 0 5px;
  }

  #banner {
    height: 10rem;
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #banner h1 {
    position: relative;
    top: 0.7em;
    font-family: 'Ruda', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    color: Black;
  }

  #banner h2 {
    position: relative;
    top: 0.8em;
    font-family: 'Ruda', sans-serif;
    font-size: 1.75rem;
    font-weight: 900;
    color: black
  }

  .container {
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  h1 {
      text-align: center;
      font-size: 2em;
  }
  h2 {
    text-align: center;
    font-size: 1.5em;
}
  .container img {
    display: block;
    max-width: 100%;
    height: auto;
  }