* {
    font-family: Helvetica, Arial, sans-serif;
  }

a{
    color: #ffffff;
    display: block;
    font-size: 16px;
    padding: 14px;
    text-align: center;
    text-decoration: none;
}

ul{
    padding-left: 3%;
    margin: 10px 0px;
}
li{
    margin:0px;
    list-style: none;
}
.breadcrumb a {
    background-color: inherit;
}

.breadcrumb {
  text-align: left;
}
.breadcrumb li {
  float: left;
}

.breadcrumb a {
  color: #fff;
  background: darkcyan;
  text-decoration: none;
  position: relative;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 15px;
  padding: 0 5px;
}

.breadcrumb a::before,
.breadcrumb a::after {
  content: "";
  position: absolute;
  border-color: darkcyan;
  border-style: solid;
  border-width: 15px 5px;
}

.breadcrumb a::before {
  left: -10px;
   border-left-color: transparent;
}
.breadcrumb a::after {
  left: 100%;
}

.breadcrumb a::after {
  left: 100%;
  border-color: transparent;
  border-left-color: darkcyan;
}

.breadcrumb a:hover {
  background-color: blue;
}
.breadcrumb a:hover::before {
  border-color: blue;
  border-left-color: transparent;
}
.breadcrumb a:hover::after {
  border-left-color: blue;
}

  
h1 {
    color: rgb(63, 9, 211);
    font-family: "Arial Rounded MT";
  }
  
  
p, 
li {
    font-size: 18px;
  }
  
  
a {
    text-decoration: none;
    color: rgb(144, 105, 196);
  }

#resume {
  padding: 0px;
  display: inline;
}

  .container {
    width: 50%;
    height: 50%;
    overflow: hidden;
  }
   
  .container img {
    max-width: 100%;
    height: auto;
    display: block;
  }