* {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  
h1 {
    color: rgb(63, 9, 211);
    font-family: "Arial Rounded MT";
  }
  
  
p, 
li {
    font-size: 18px;
  }
  
  
a {
    text-decoration: none;
  }