* {
    font-family: Helvetica, Arial, sans-serif;
  }

a{
    color: #ffffff;
    display: block;
    font-size: 16px;
    padding: 14px;
    text-align: center;
    text-decoration: none;
}

ul{
    padding-left: 3%;
    margin: 10px 0px;
    
}
li{
    margin:0px;
    list-style: none;
}

.breadcrumb a {
    background-color: inherit;
}

.breadcrumb {
  text-align: left;
  float: right;
  height: 30px;
}

.breadcrumb li {
  float: left;
}

.breadcrumb a {
  color: #fff;
  background: rgb(83, 85, 85);
  text-decoration: none;
  position: relative;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 15px;
  padding: 0 5px;
}

.breadcrumb a::before,
.breadcrumb a::after {
  content: "";
  position: absolute;
  border-color: rgb(83, 85, 85);
  border-style: solid;
  border-width: 15px 5px;
}

.breadcrumb a::before {
  left: -10px;
   border-left-color: transparent;
}
.breadcrumb a::after {
  left: 100%;
}

.breadcrumb a::after {
  left: 100%;
  border-color: transparent;
  border-left-color: rgb(83, 85, 85);
}

.breadcrumb a:hover {
  background-color: rgb(101, 73, 224);
}
.breadcrumb a:hover::before {
  border-color: rgb(101, 73, 224);
  border-left-color: transparent;
}
.breadcrumb a:hover::after {
  border-left-color: rgb(101, 73, 224);
}

 
#banner {
  height: 16rem;
  background-image: url("../Images/Welcome.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#banner h1 {
  font-family: 'Ruda', sans-serif;
  font-size: 3.75rem;
  font-weight: 900;
  color: white;
}
  
.introduction p{
  font-family: "ZCOOL KuaiLe";
}
  
p, 
li {
    font-size: 18px;
  }
  
  
a {
    text-decoration: none;
    color: rgb(144, 105, 196);
  }

#resume {
  padding: 0px;
  display: inline;
}


  .container {
    width: 30%;
    height: 30%;
    overflow: hidden;
    display: inline-block;
  }
   
  .container img {
    max-width: 100%;
    height: auto;
  }